/* Resetando margens e paddings para garantir consistência */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo o fundo e cores principais */
body {
    background-color: #f8f9fa; /* Cor de fundo suave */
    color: #343a40; /* Texto em cinza escuro */
    font-family: 'Arial', sans-serif;
}

/* Header */
header {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 40px 0;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

header .subtitle {
    font-size: 1.25rem;
    margin-top: 10px;
}

/* Conteúdo Principal */
.main-content {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Botões */
.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

.button-container button {
    background-color: #343a40;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    width: calc(33% - 10px);
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #495057;
}

.button-container button:active {
    background-color: #212529;
}

/* Botão de logout */
.logout-btn {
    background-color: #dc3545;
    color: white;
    padding: 12px 25px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    width: 200px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logout-btn:hover {
    background-color: #c82333;
}

.logout-btn:active {
    background-color: #bd2130;
}

/* Footer */
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}
