/* Resetando alguns estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo o estilo para o body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Estilo do título */
h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
}

/* Estilo da linha horizontal */
hr {
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #ddd;
}

/* Estilo para os botões */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

/* Efeito no botão ao passar o mouse */
button:hover {
    background-color: #45a049;
}

/* Estilo do link dentro dos botões */
button a {
    color: white;
    text-decoration: none;
}

/* Efeito no link dentro do botão ao passar o mouse */
button a:hover {
    text-decoration: underline;
}

/* Estilo de botões de sair */
button:last-child {
    background-color: #f44336;
}

button:last-child:hover {
    background-color: #e53935;
}
