/* Resetando margens e paddings para garantir consistência */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cor de fundo e cor do texto */
body {
    background-color: #f8f9fa; /* Cor de fundo clara */
    color: #343a40; /* Texto em cinza escuro */
    font-family: 'Arial', sans-serif;
}

/* Header */
header {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 60px 0;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

header .error-message {
    color: #dc3545;
    margin-top: 10px;
    font-size: 1.1rem;
}

/* Container do Formulário de Login */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.login-container label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container input:focus {
    border-color: #343a40;
    outline: none;
}

/* Link para 'Esqueceu sua senha' */
.forgot-password {
    text-align: center;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #343a40;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* Botão de login */
button {
    background-color: #343a40;
    color: white;
    padding: 12px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #495057;
}

button:active {
    background-color: #212529;
}
